@model IEnumerable<DigiMarketWebApp.Models.UserAccess>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Share Photo</h2>


<p>
    <div class="row">
        <div class="col-md-4 ">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link"  asp-area="" asp-controller="Photos" asp-action="Index">Back to Photos</a></button>
        </div>
    </div>
</p>
<p>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link"  asp-action="Create">Create New</a></button>

        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserAccessID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserAccessID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserAccessID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
