@model IEnumerable<DigiMarketWebApp.Models.UserAccess>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shared Photos</h2>

<p>
    
    
</p>
<p>
    <div class="row">
        <div class="col-md-4 ">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link" asp-area="" asp-controller="Photos" asp-action="Index">Back to Photos</a></button>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                Photo shared by
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <dl class="row">
                        <dd class="col-sm-10">
                            <img src="@("~/image/"+item.Photo.ImageName)" asp-append-version="true" width="250px" height="250px" />
                        </dd>
                    </dl>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebAppUser.Email)
                </td>
                <td>
                    <div class="text-center">
                        <a class="nav-link" asp-route-id="@item.PhotoID" asp-area="" asp-controller="Metadatas" asp-action="Index">More Information</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
