@model IEnumerable<DigiMarketWebApp.Models.SharedAlbum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shared Albums</h2>

<p>
    <div class="row">
        <div class="col-md-3 ">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link" asp-area="" asp-controller="AlbumNames" asp-action="Index">Back to Albums</a></button>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Album Name
            </th>
            <th>
                Shared by
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebAppUser.Email)
                </td>
                <td>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-light btn-block"><a class="nav-link" asp-route-id="@item.AlbumNameID" asp-area="" asp-controller="Albums" asp-action="Shared">View Album</a></button>
                            </div>
                        </div>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
