@model IEnumerable<DigiMarketWebApp.Models.Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photos in the Album</h2>
<p>
    <div class="row">
        <div class="col-md-3 ">
            <button type="submit" class="btn btn-primary btn-block"><a class="text-white nav-link" asp-area="" asp-controller="AlbumNames" asp-action="Index">Back to Albums</a></button>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <dl class="row">
                        <dd class="col-sm-10">
                            <img src="@("~/image/"+item.Photo.ImageName)" asp-append-version="true" width="250px" height="250px" />
                        </dd>
                    </dl>
                </td>
                <td>
                    <a asp-action="DeletePhoto" asp-route-id="@item.AlbumID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
